<div class="form-container">
	<form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form">
		<div>
			<mat-card-content class="login-form">
				<mat-form-field appearance="fill">
					<mat-label>Email</mat-label>
					<input type="text" matInput formControlName="email" placeholder="" id="email" />
				</mat-form-field>

                <mat-form-field appearance="fill">
					<mat-label>Password</mat-label>
					<input
						type="password"
						matInput
						formControlName="password"
						placeholder=""
						id="password"
					/>
				</mat-form-field>
                <small style="color: red;" *ngIf="loginFailStatus">
                    Failed to Authenticate
                </small>
			</mat-card-content>
		</div>

        <mat-card-actions class="submit">
            <button mat-raised-button color="primary" type="submit">Login</button>
        </mat-card-actions>
	</form>
</div>
