// .options-form {
// 	min-width: 150px;
// 	max-width: 500px;
// 	width: 100%;
// }

.options-full-width {
	width: 100%;
}

// .server-list {
// 	display: flex;
// 	justify-content: space-between;
// }

// .fetch-all-servers-button {
// 	margin-top: 10px
// }


.question-container {
	display: flex;
	justify-content: space-around;
}

.form-input {
	display: flex;
}